h1 {
    text-align: center;
}
.WishlistContainer
{
    display: flex;
    flex-direction: column;
}

#accordion{
    align-items: center;
    display: flex;
    flex-direction: column;
}
#accordion div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}