<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="./Css/styles.css">
</head>

<body>
    <h1>Wish List</h1>
        <div id="wishlistContainer">
            <script id="wishlist-template" type="text/x-handlebars-template">
                <div id="accordion">
                    {{#each Wishlist}}
                    <h3>{{@key}}</h3>
                    <div>
                        {{#each this}}
                        <span>
                            <p>{{Name}}</p>
                            <p>{{LastCheckedPrice}}</p>
                            <p>{{Url}}</p>
                        </span>
                    {{/each}}
                    </div>
                {{/each}}
                </div>
            </script>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js" integrity="sha512-zT3zHcFYbQwjHdKjCu6OMmETx8fJA9S7E6W7kBeFxultf75OPTYUJigEKX58qgyQMi1m1EgenfjMXlRZG8BXaw==" crossorigin="anonymous"></script>
    <script>
        $(function () {
            // Grab the template script
            var theTemplateScript = $("#wishlist-template").html();

            // Compile the template
            var theTemplate = Handlebars.compile(theTemplateScript);

            // Start - Define our data object
                //Sets the "DB"
                var WishlistJSON = '{ "Wishlist": { "Amazon": [{ "Name": "Amazon_Frying_Pan", "LastCheckedPrice": 40, "Url": "https://www.amazon.com/", "CompetitorPrices": ["15.00", "300.00"] }], "Target": [{ "Name": "Target_Billboard", "LastCheckedPrice": 6, "Url": "https://www.amazon.com/", "CompetitorPrices": ["7.00", "90.00"] }, { "Name": "Target_Milk", "LastCheckedPrice": 2, "Url": "https://www.amazon.com/", "CompetitorPrices": ["2.50", "9.75"] }, { "Name": "Target_Puppies", "LastCheckedPrice": 5, "Url": "https://www.amazon.com/", "CompetitorPrices": ["7.00", "2.00"] }], "Wallmart": [{ "Name": "Wallmart_Socks", "LastCheckedPrice": 5, "Url": "https://www.amazon.com/", "CompetitorPrices": ["5.00", "30.00"] }] } }';
                localStorage.setItem('WishlistData', WishlistJSON);

                //Retreives the DB in a readable format
                var context = JSON.parse(window.localStorage["WishlistData"]);
            // End - Define our data object

            // Pass our data to the template
            var theCompiledHtml = theTemplate(context);

            // Add the compiled html to the page
            $('#wishlistContainer').html(theCompiledHtml);
        });
    </script>

<script>
    $(function () {
        $("#accordion").accordion({
            active: false,
            collapsible: true
        });
    });
</script>
</body>

</html>